<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title th:text="${trabalhador.nome}">Username</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/trabalhador-detalhes.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
    <th:block th:replace="fragments/navigation :: navbar"/>

    <main class="container">
        <div class="row mt-5">
            <div class="avatar-box col-sm-3">
                <img id="avatar" src="avatar-1.jpg" th:src="@{/images/trabalhadores/avatar-1.jpg}" alt="avatar" class="img-thumbnail"/>
            </div>
			<div class="col-sm-3">
				<div class="dado p-2">
					<h6>Nome</h6>
					<h5 th:text="${trabalhador.nome}">Emanuel Honorio</h5>
				</div>
				<div class="dado p-2">
					<h6>Categoria</h6>
					<h5 th:text="${trabalhador.categoria.nome}">Programador</h5>
				</div>

			</div>
			<div class="col-sm-s3">
				<div class="contato p-1">
					<i class="fas fa-phone"></i>
					<span class="mx-2" th:text="${trabalhador.telefone}">(83)987-313692</span>
				</div>
				<div class="contato p-1">
					<i class="fas fa-at"></i>
					<span class="mx-2" th:text="${trabalhador.email}">emanueljp@gmail.com</span>
				</div>
			</div>
        </div>
        
    </main>

    <th:block th:replace="fragments/footer :: footer"/>

</body>
</html>